*
{

padding:0px;
margin:0px;

}


::selection
{

color:#05D7F7;

}

body
{

font-family:Georgia;
color:#464747;

}

.container
{


width:1200px;
background:#94c7b6;
margin: 0px auto;

}

.outer-box
{

width:90%;
height:350px;
border:20px solid #fff;
background:#94c7b6;
padding:3px;
margin:0 35px;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
box-shadow:2px 2px 2px;


}

.inner-box
{

height:100%;
width:100%;

background:#fff;

}

.full-width
{

width:100%;

}

.half-width
{

width:50%;

}

.full-height
{

height:100%;

}

.second-height
{

height:50%;

}

/* Header CSS */

  

#header
{

height:100px;
background: url('header.jpg') repeat;

}



#header h1
{

color:#fff;

padding-left:20px;
padding-top:18px;

font-size:50px;

text-shadow:1px 1px 1px #333;

}


/* #header-thumbnail
{

height:145px;
width:150px;
float:left;
border: 5px solid #bbb;
background:#ddd;

}


#header-content
{

height:155px;
width:1040px;
float:right;
background:#2f5055;

}
 
*/

/* --------------------------------------------------------------------------------- */


#banner
{


width:1200px;
background:#fff;
overflow:hidden;

}



#banner img
{

height:500px;

float:left;

margin:20px auto 100px auto;

padding-left:40px;
padding-top:40px;
padding-right:40px;
padding-bottom:40px;

-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
box-shadow:2px 2px 2px 2px;

} 



#banner h1
{


color:#464747;

text-align:right;

padding-left:20px;
padding-top:18px;

font-size:60px;

text-shadow:1px 1px 1px #333;
letter-spacing:3px;

}



#banner h2
{
color:#464747;

text-align:right;

padding-left:20px;
padding-top:18px;

font-size:30px;

text-shadow:1px 1px 1px #333;


}

#banner h3
{

color:#464747;



padding-left:20px;
padding-top:300px;

font-size:40px;

text-align:center;



}

/* --------------------------------------------------------------------------------- */

/* Life Learning CSS */


#life-learning
{


width:1200px;
background:#94c7b6;
overflow:hidden;
padding-bottom:50px;


}

#life-learning h1
{

color:#fff;
text-align:center;
padding-top:40px;
padding-bottom:40px;

font-size:50px;

text-shadow:1px 1px 1px #333;

}

#life-learning-content
{


width:1100px;

background:#fff;
margin:0px auto;

}


#life-learning-contents
{


width:1050px;
background:#fff;
margin:20px 20px 20px 20px;
border:3px solid #94c7b6;

}

#life-learning-primary
{


width:300px;

float:left;
padding:20px 30px;

color:#464747;
text-align:center;

font-size:20px;
line-height:30px;

}


#life-learning-secondary
{


width:300px;
float:left;
padding:20px 30px;

color:#464747;
text-align:center;

font-size:20px;
line-height:30px;

}

#life-learning-tertiary
{


width:300px;

float:right;
padding:20px 30px;

color:#464747;
text-align:center;

font-size:20px;
line-height:30px;

}


/* --------------------------------------------------------------------------------- */

/* Patrons CSS */

#patron-container
{

background:#fff;

width:1200px;

padding-bottom:50px;

}


#patron-container h1
{

color:#464747;
text-align:center;
padding-top:40px;
padding-bottom:40px;

font-size:50px;

text-shadow:1px 1px 1px #333;

}



/* --------------------------------------------------------------------------------- */

#patron-first
{


width:1200px;

border-bottom:1px solid #ccc;

padding-bottom:50px;


}

#patron-first img
{

height:300px;
width:200px;

float:left;

padding-left:30px;


}

#patron-first-content
{

width:900px;

padding-top:20px;
padding-bottom:40px;



float:right;

}


#patron-first-content p
{


width:900px;

color:#464747;

margin:0px auto;
text-align:center;

font-size:18px;
line-height:40px;


}


/* --------------------------------------------------------------------------------- */

#patron-second
{


width:1200px;
padding-top:20px;
padding-bottom:40px;

border-bottom:1px solid #ccc;


}


#patron-second img
{

height:300px;
width:200px;


float:right;
padding-right:30px;
padding-top:50px;
padding-bottom:50px;

}

#patron-second-content
{


width:900px;

padding-top:80px;
padding-bottom:40px;


float:left;

}


#patron-second-content p
{


width:900px;

color:#464747;

margin:0px auto;
text-align:center;

font-size:18px;
line-height:40px;



}

/* --------------------------------------------------------------------------------- */

#patron-third
{


width:1200px;

padding-top:20px;
padding-bottom:50px;

border-bottom:1px solid #ccc;

}


#patron-third img
{

height:300px;
width:200px;

float:left;
padding-left:30px;
padding-top:50px;
padding-bottom:50px;

}

#patron-third-content
{


width:900px;

padding-top:80px;
padding-bottom:40px;


float:right;


}


#patron-third-content p
{


width:900px;

color:#464747;

margin:0px auto;
text-align:center;

font-size:18px;
line-height:40px;

padding-top:80px;
padding-bottom:40px;



}


/* --------------------------------------------------------------------------------- */

#patron-fourth
{


width:1120px;

padding-top:30px;
padding-bottom:50px;

border-bottom:1px solid #ccc;

}

#patron-fourth img
{

height:300px;
width:200px;

float:right;
padding-right:30px;
padding-top:50px;
padding-bottom:50px;

}

#patron-fourth-content
{


width:900px;

padding-top:80px;
padding-bottom:40px;


float:left;

}


#patron-fourth-content p
{


width:900px;

color:#464747;

margin:0px auto;
text-align:center;

font-size:18px;
line-height:40px;


}


/* --------------------------------------------------------------------------------- */

#patron-fifth
{


width:1200px;
padding-top:20px;
padding-bottom:50px;

border-bottom:1px solid #ccc;

}

#patron-fifth img
{

height:300px;
width:200px;

float:left;
padding-left:30px;
padding-top:50px;
padding-bottom:50px;


}

#patron-fifth-content
{


width:900px;

padding-top:80px;
padding-bottom:40px;

float:right;



}


#patron-fifth-content p
{

width:800px;

color:#464747;

text-align:center;

font-size:18px;
line-height:40px;

padding-right:20px;
padding-top:50px;
padding-bottom:50px;

}

/* --------------------------------------------------------------------------------- */


#mass
{

width:1200px;
background:#94c7b6;

padding-bottom:50px;

}

#mass h1
{

color:#fff;
text-align:center;
padding-top:40px;
padding-bottom:40px;

font-size:50px;

text-shadow:1px 1px 1px #333;

}


#mass p
{

text-align:center;
padding-top:15px;
padding-bottom:20px;

font-size:30px;

}

/*  #mass-content
{


width:1100px;

background:#fff;
margin:0px auto;

}


#mass-contents
{


width:1050px;
background:#fff;
margin:20px 20px 20px 20px;
border:3px solid #94c7b6;

} */ 




/* --------------------------------------------------------------------------------- */

#history
{


width:1200px;
background:#fff;

padding-bottom:50px;

}

#history h1
{

color:#464747;
text-align:center;
padding-top:40px;
padding-bottom:40px;

font-size:50px;

text-shadow:1px 1px 1px #333;

}

#history img
{

height:320px;
width:600px;

float:left;

}

#history p
{

color:#464747;

font-size:18px;
text-align:justify;

line-height:40px;

padding-top:50px;

}



/* --------------------------------------------------------------------------------- */



#gallery
{


width:1200px;
background:#94c7b6;

padding-bottom:50px;

}

#gallery h1
{

color:#fff;
text-align:center;
padding-top:40px;
padding-bottom:40px;

font-size:50px;
text-shadow:1px 1px 1px #333;

}






/* --------------------------------------------------------------------------------- */

#bottom
{

width:1200px;

background:#fff;
padding-bottom:50px;

}


#bottom-primary
{

width:660px;

float:left;

}


#bottom-primary h1
{

color:#464747;

padding-top:40px;
padding-bottom:40px;

font-size:50px;

text-shadow:1px 1px 1px #333;


}

#bottom-primary ul
{

list-style:none; 

color:#464747;

padding-top:20px;
padding-bottom:20px;

text-align:center;

font-size:18px;

}


#bottom-primary ul span
{

list-style:none; 

color:#999;

padding-right:40px;

text-align:center;

font-size:18px;

}


#bottom-primary ul li 
{

list-style:none; 

color:#464747;

padding-top:20px;
padding-bottom:20px;

text-align:center;

font-size:18px;

border-bottom: 1px solid #ececec;

}



#bottom-secondary
{

width:450px;

float:left;



padding-left:50px;

}



#bottom-secondary h1 
{

color:#464747;

padding-top:40px;
padding-bottom:40px;


font-size:50px;

text-shadow:1px 1px 1px #333;

}



#bottom-secondary ul span
{

list-style:none; 

color:#999;

padding-right:40px;

font-size:18px;

}


#bottom-secondary ul li 
{

list-style:none; 

color:#464747;

padding-top:30px;
padding-bottom:10px;

font-size:18px;
line-height:40px;

}


/* --------------------------------------------------------------------------------- */

#footer
{

width:1200px;

background:#464747;


margin:0 auto;

padding-bottom:40px;



}

#footer-left
{


height:35px;
width:380px;

float:left;

color:#fff;


padding-top:15px;
padding-left:20px;

}


#footer-right
{


height:35px;
width:800px;

float:right;


color:#fff;

padding-top:15px;



}